name: Tests
on: [push, pull_request]

jobs:

  build:
    strategy:
      matrix:
        go-version:
          - "1.9"
          - "1.10"
          - "1.11"
          - "1.12"
          - "1.13"
          - "1.14"
          - "1.15"
        platform: [ubuntu-latest]

    env:
      GO111MODULE: on

    runs-on: ${{ matrix.platform }}
    steps:

    - name: Setup env
      run: |
        echo "GOPATH=$GITHUB_WORKSPACE" >> $GITHUB_ENV
        echo "CURRENT_WORKSPACE=$GITHUB_WORKSPACE/src/github.com/${{ github.repository }}" >> $GITHUB_ENV
        echo "$GITHUB_WORKSPACE/bin" >> $GITHUB_PATH

    - name: Set up Go
      uses: actions/setup-go@v1
      with:
        go-version: ${{ matrix.go-version }}

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2
      with:
        path: ${{ env.CURRENT_WORKSPACE }}

    - name: Get dependencies
      run: go get -v ./...
      working-directory: ${{ env.CURRENT_WORKSPACE }}

    - name: Run go vet
      run: go vet ./...
      working-directory: ${{ env.CURRENT_WORKSPACE }}

    - name: Run tests
      run: ./test.sh
      working-directory: ${{ env.CURRENT_WORKSPACE }}
