name: Tests
on: [push, pull_request]

jobs:

  build:
    name: Build
    strategy:
      matrix:
        go-version: [1.8, 1.13]
        platform: [ubuntu-latest]
    runs-on: ${{ matrix.platform }}
    env:
      GO111MODULE: on
    steps:

    - name: Setup env
      run: |
        echo "::set-env name=GOPATH::$GITHUB_WORKSPACE"
        echo "::set-env name=CURRENT_WORKSPACE::$GITHUB_WORKSPACE/src/github.com/${{ github.repository }}"
        echo "::add-path::$GITHUB_WORKSPACE/bin"

    - name: Set up Go
      uses: actions/setup-go@v1
      with:
        go-version: ${{ matrix.go-version }}

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2
      with:
        path: ${{ env.CURRENT_WORKSPACE }}

    - name: Get dependencies
      run: |
        cd ${CURRENT_WORKSPACE}
        go get -v ./...

    - name: Run tests
      run: |
        cd ${CURRENT_WORKSPACE}
        echo "" > coverage.txt

        for d in $(go list ./... | grep -v vendor); do
            go test -v -race -coverprofile=profile.out -covermode=atomic "$d"
            if [ -f profile.out ]; then
                cat profile.out >> coverage.txt
                rm profile.out
            fi
        done

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
